---
const { id, className, first, second } = Astro.props;
---

<h1
  id={id}
  class:list={[
    "font-large-heading text-[140px]/[80%] text-center text-text-primary uppercase",
    "flex flex-col items-start overflow-hidden pt-6",
    className,
  ]}
>
  <span class="chars">{first}</span>
  <span class="text-text-minimal chars">{second}</span>
</h1>
