---
const { id, className } = Astro.props;
---

<div class={className}>
  <p
    id={id}
    class:list={[
      "font-copy text-lg/[26px] text-center  overflow-hidden text-text-primary",
    ]}
  >
    <slot />
  </p>
</div>
