---
import BagsFoodImage from "@/assets/hero/bags-food.png";
import HeroDog from "@/assets/hero/hero-dog.png";
import EastIcon from "@/assets/icons/east.svg";
import HeroHeader from "@/components/HeroHeader.astro";
import ButtonRed from "@/components/shared/ButtonRed.astro";
---

<section id="hero-2" class="w-full h-full overflow-hidden absolute top-0 pt-20">
  <HeroHeader textColor="text-text-primary" />
  <section class="mt-[104px] ml-[108px]">
    <h1
      class="font-large-heading text-[150px]/[80%] uppercase text-text-primary"
    >
      Subscribe <span class="text-text-minimal">& save</span>
    </h1>
    <h2
      class="font-heading font-extrabold text-[34px]/[38px] uppercase text-text-primary mt-[30px]"
    >
      SUBSCRIBERS GET FREE DELIVERY AND TRIPLE POINTS
    </h2>

    <ButtonRed className="mt-[30px] flex flex-row items-center gap-1.5">
      Subscribe today <EastIcon class="w-6 h-6" />
    </ButtonRed>
  </section>

  <section
    class="absolute right-[153px] top-[220px] size-[300px] rounded-full bg-surface-background-red text-text-invert flex flex-col items-center justify-center p-14 z-0"
  >
    <span class="font-large-heading text-[190px]/[80%] uppercase"> 3X </span>
    <span class="font-large-heading text-10/[80%] uppercase">
      CARNI POINTS
    </span>
  </section>

  <section
    class="absolute -bottom-3.5 left-20 aspect-656/536 scale-95 overflow-hidden z-1"
  >
    <img
      src={BagsFoodImage.src}
      alt="bags food"
      class="w-full h-full object-cover"
    />
  </section>
  <section class="absolute bottom-0 right-0 aspect-767/610 overflow-hidden">
    <img src={HeroDog.src} alt="hero dog" class="w-full h-full object-cover" />
  </section>
</section>
