---
import EastIcon from "@/assets/icons/east.svg";
import ButtonRed from "@/components/shared/ButtonRed.astro";
import DoubleHeading from "@/components/shared/DoubleHeading.astro";

import Dog1 from "@/assets/feed-nature/dog-part-1.gif";
import Dog2 from "@/assets/feed-nature/dog-part-2.gif";
import Dog3 from "@/assets/feed-nature/dog-part-3.gif";
import Placeholder from "@/assets/feed-nature/video-placeholder.png";
import ParallaxSection from "@/components/ParallaxSection.astro";
---

<ParallaxSection
  id="feed-their-nature"
  bgPosition={[
    { y: 15, opacity: 0.9 },
    { y: 100, opacity: 0 },
    { y: 100, opacity: 0 },
  ]}
>
  <div class="absolute inset-0 w-full h-full overflow-hidden">
    <img
      data-dog1={Dog1.src}
      data-dog2={Dog2.src}
      data-dog3={Dog3.src}
      id="dog1"
      class="aspect-640/354 z-2 bottom-[16%] -left-[8%] scale-200 absolute"
      src=""
    />
  </div>
  <section
    class="max-w-[1440px] w-[1440px] relative mx-auto flex flex-row items-center justify-center h-full"
  >
    <section class="flex flex-col max-w-[550px]">
      <DoubleHeading
        id="feed-their-nature-title"
        className="max-w-[550px] z-2 absolute top-[217px] left-[376px]"
        first="Feed their"
        second="true nature."
      />

      <h2
        id="feed-their-nature-subtitle"
        class="font-heading font-extrabold text-[34px]/[38px] uppercase text-text-primary max-w-[530px] overflow-hidden absolute top-[461px] left-[392px]"
      >
        Instinct-driven nutrition for the natural carnivore in every pet
      </h2>

      <p
        id="feed-their-nature-description"
        class="text-sm/[22px] text-text-primary max-w-[530px] overflow-hidden absolute top-[553px] left-[392px]"
      >
        High-meat recipes with no grains or fillers. Pure, powerful nutrition
        that ignites their spirit.
      </p>

      <ButtonRed
        id="feed-button"
        className="mt-[30px] flex flex-row items-center gap-1.5 self-start absolute top-[613px] left-[392px]"
      >
        Discover Their Wild Side <EastIcon class="w-6 h-6" />
      </ButtonRed>
    </section>
    <img
      id="video-feed-placeholder"
      src={Placeholder.src}
      class="aspect-433/532 w-[433px] h-[532px] absolute top-[217px] left-[937px] object-cover object-center"
    />
  </section>
</ParallaxSection>
