---
import FAQ from "@/components/FAQ.astro";
import Feed from "@/components/Feed.astro";
import FindYourPath from "@/components/FindYourPath.astro";
import FromTheWild from "@/components/FromTheWild.astro";

import Hero from "@/components/Hero/Hero.astro";
import Ingredients from "@/components/Ingredients.astro";
import Instincts from "@/components/Instincts.astro";
import ShopProduct from "@/components/ShopProduct.astro";
import Trusted from "@/components/Trusted.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Hero />
  <ShopProduct />
  <Feed />
  <Instincts />
  <Ingredients />
  <FindYourPath />
  <Trusted />
  <FromTheWild />
  <FAQ />

  <section
    id="savannah"
    class="bg-[url(/savannah.png)] bg-cover bg-center bg-no-repeat w-full h-[569px] fixed z-10"
  >
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  // const sections = document.querySelectorAll(".pin-section");

  // sections.forEach((section, index) => {
  //   gsap.timeline({
  //     scrollTrigger: {
  //       trigger: section,
  //       start: "top top",
  //       end: "bottom top",
  //       pin: true,
  //       pinSpacing: false,
  //       scrub: 0.06,
  //       // markers: true,
  //       snap: 1,
  //     },
  //   });
  // });

  // prefer transform-based motion for smoother GPU-accelerated animation
  const savannah = document.getElementById("savannah");
  const shopSection = document.getElementById("shop-by-product");
  const feed = document.getElementById("feed-their-nature");

  const FAQ = document.getElementById("FAQ");

  if (savannah && shopSection && feed) {
    // Timeline for bottom transitions
    const tl = gsap.timeline();

    // gsap.set(savannah, { top: "100%" });

    // // First scroll trigger: move into view at -200px
    // tl.to(savannah, {
    //   top: "-=300px",
    //   duration: 1,
    //   ease: "power2.out",
    //   scrollTrigger: {
    //     trigger: "#shop-by-product",
    //     start: "top bottom",
    //     end: "bottom top", // short range to trigger once
    //     scrub: true,
    //     pin: true,
    //   },
    // });

    // // Second scroll trigger: adjust to -100px without resetting
    // tl.to(savannah, {
    //   top: "-=200px",
    //   duration: 1,
    //   ease: "power2.out",
    //   scrollTrigger: {
    //     trigger: feed,
    //     start: "top top",
    //     end: "bottom top",
    //     scrub: false,
    //     pin: true,
    //   },
    // });

    // tl.to(savannah, {
    //   top: "-=200px",
    //   duration: 1,
    //   ease: "power2.out",
    //   scrollTrigger: {
    //     trigger: "#ingredients",
    //     start: "top top",
    //     end: "bottom top",
    //     scrub: false,
    //     pin: true,
    //   },
    // });
  }
</script>
