---
import FAQ from "@/components/Sections/FAQ.astro";
import Feed from "@/components/Sections/Feed.astro";
import FindYourPath from "@/components/Sections/FindYourPath.astro";
import FromTheWild from "@/components/Sections/FromTheWild.astro";
import Hero from "@/components/Sections/Hero/Hero.astro";
import Ingredients from "@/components/Sections/Ingredients.astro";
import Instincts from "@/components/Sections/Instincts.astro";
import Nourishment from "@/components/Sections/Nourishment.astro";
import ShopProduct from "@/components/Sections/ShopProduct.astro";
import Trusted from "@/components/Sections/Trusted.astro";
import Layout from "@/layouts/Layout.astro";

import Puppy1 from "@/assets/ingredients/01-puppy.gif";
import Puppy2 from "@/assets/ingredients/02-puppy.png";
import Puppy3 from "@/assets/ingredients/03-puppy.gif";
---

<Layout title="Carnilove | Home">
  <div
    id="parallax-bg"
    class="fixed top-0 left-0 w-full h-full pointer-events-none z-1 overflow-hidden"
  >
    <section
      id="savannah"
      class="fixed inset-0 pointer-events-none z-2 opacity-0 top-0"
      style="background-image: url('/savannah-large.png'); background-size: cover; background-position: center bottom;"
    >
    </section>

    <img
      data-dog1={Puppy1.src}
      data-dog2={Puppy2.src}
      data-dog3={Puppy3.src}
      id="puppy"
      class="aspect-640/354 absolute top-[542px] left-[40%] z-2 scale-100"
      src=""
    />

    <section
      id="rocks"
      class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[50%]"
      style="background-image: url('/rock-and-grass.png'); background-size: cover; background-position: center bottom;"
    >
    </section>
    <section
      id="forest"
      class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[0%]"
      style="background-image: url('/forest.png'); background-size: auto; "
    >
    </section>
  </div>

  <Hero />
  <ShopProduct />
  <Feed />
  <Instincts />
  <Ingredients />
  <FindYourPath />
  <Trusted />
  <Nourishment />
  <FromTheWild />
  <FAQ />
</Layout>
