---
import FAQ from "@/components/FAQ.astro";
import Feed from "@/components/Feed.astro";
import FindYourPath from "@/components/FindYourPath.astro";
import FromTheWild from "@/components/FromTheWild.astro";

import Hero from "@/components/Hero/Hero.astro";
import Ingredients from "@/components/Ingredients.astro";
import Instincts from "@/components/Instincts.astro";
import ShopProduct from "@/components/ShopProduct.astro";
import Trusted from "@/components/Trusted.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    id="savannah"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[50%]"
    style="background-image: url('/savannah-large.png'); background-size: cover; background-position: center bottom;"
  >
  </section>
  <section
    id="rocks"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[50%]"
    style="background-image: url('/rock-and-grass.png'); background-size: cover; background-position: center bottom;"
  >
  </section>
  <section
    id="forest"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[0%]"
    style="background-image: url('/forest.png'); background-size: cover; background-position: center bottom;"
  >
  </section>

  <Hero />
  <ShopProduct />
  <Feed />
  <Instincts />
  <Ingredients />
  <FindYourPath />
  <Trusted />
  <FromTheWild />
  <FAQ />
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText, ScrollToPlugin);

  document.querySelectorAll(".pin-section");

  const sections: HTMLElement[] = gsap.utils.toArray(".pin-section");

  // this scrolling object just allows us to conveniently call scrolling.enable(), scrolling.disable(), and check if scrolling.enabled is true.
  // some browsers (like iOS Safari) handle scrolling on a separate thread and can cause things to get out of sync (jitter/jumpy), so when we're animating the scroll position, force an update of GSAP tweens when there's a scroll event in order to maintain synchronization)
  const scrolling = {
    enabled: true,
    events: "scroll,wheel,touchmove,pointermove".split(","),
    prevent: (e: Event) => e.preventDefault(),
    disable() {
      if (scrolling.enabled) {
        scrolling.enabled = false;
        window.addEventListener("scroll", gsap.ticker.tick, { passive: true });
        scrolling.events.forEach((e, i) =>
          (i ? document : window).addEventListener(e, scrolling.prevent, {
            passive: false,
          })
        );
      }
    },
    enable() {
      if (!scrolling.enabled) {
        scrolling.enabled = true;
        window.removeEventListener("scroll", gsap.ticker.tick);
        scrolling.events.forEach((e, i) =>
          (i ? document : window).removeEventListener(e, scrolling.prevent)
        );
      }
    },
  };

  function goToSection(section: HTMLElement) {
    if (scrolling.enabled) {
      // skip if a scroll tween is in progress
      scrolling.disable();
      gsap.to(window, {
        scrollTo: { y: section, autoKill: false },
        onComplete: scrolling.enable,
        duration: 1.5,
      });
    }
  }

  sections.forEach((section, i) => {
    ScrollTrigger.create({
      trigger: section,
      start: "top bottom-=1",
      end: "bottom top+=1",
      onEnter: () => goToSection(section),
      onEnterBack: () => goToSection(section),
      snap: 1 / sections.length,
    });
  });

  const savannah = document.getElementById("savannah");
  const rocks = document.getElementById("rocks");
  const forest = document.getElementById("forest");
  const shopSection = document.getElementById("shop-by-product");
  const feed = document.getElementById("feed-their-nature");

  if (savannah && rocks && forest && shopSection && feed) {
    // Timeline for bottom transitions

    const bgTimeline = gsap.timeline({
      scrollTrigger: {
        trigger: "#shop-by-product",
        start: "top center",
        end: "bottom bottom",
        endTrigger: "#trusted",
        scrub: 1,
      },
    });

    bgTimeline
      // Fade in and start from bottom
      .fromTo(
        savannah,
        {
          opacity: 0,
          backgroundPositionY: "0%",
        },
        {
          opacity: 1,
          backgroundPositionY: "65%",
          ease: "none",
        }
      )
      // Move higher during section 3
      .to(savannah, {
        backgroundPositionY: "30%",
        ease: "none",
      })
      // Move down during section 4
      .to(savannah, {
        backgroundPositionY: "40%",
        ease: "none",
      })
      // Fade out at section 5
      .to(savannah, {
        backgroundPositionY: "60%",
        ease: "none",
      })
      // Fade out at section 6
      .to(savannah, {
        backgroundPositionY: "80%",
        ease: "none",
      })
      // Fade out at section 7
      .to(savannah, {
        opacity: 0,
        ease: "none",
      });
  }

  const rocksTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#instincts",
      start: "top center",
      end: "top top",
      endTrigger: "#trusted",
      scrub: 1,
    },
  });

  rocksTimeline
    .fromTo(
      rocks,
      {
        opacity: 0,
        backgroundPositionY: "0%",
      },
      {
        opacity: 1,
        backgroundPositionY: "100%",
        ease: "none",
      }
    )
    .to(rocks, {
      backgroundPositionY: "80%",
      ease: "none",
    })
    .to(rocks, {
      backgroundPositionY: "100%",
      ease: "none",
    })
    .to(rocks, {
      opacity: 0,
      ease: "none",
    });

  const forestTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#trusted",
      start: "top bottom",
      end: "bottom bottom",
      endTrigger: "#FAQ",
      scrub: 1,
    },
  });

  forestTimeline

    .fromTo(
      forest,
      {
        opacity: 0,
        backgroundPositionY: "0%",
      },
      {
        opacity: 1,
        backgroundPositionY: "85%",
        ease: "none",
      }
    )
    .to(forest, {
      backgroundPositionY: "30%",
      ease: "none",
    })
    .to(forest, {
      opacity: 0,
      ease: "none",
    });
</script>
