---
import FAQ from "@/components/FAQ.astro";
import Feed from "@/components/Feed.astro";
import FindYourPath from "@/components/FindYourPath.astro";
import FromTheWild from "@/components/FromTheWild.astro";

import Hero from "@/components/Hero/Hero.astro";
import Ingredients from "@/components/Ingredients.astro";
import Instincts from "@/components/Instincts.astro";
import ShopProduct from "@/components/ShopProduct.astro";
import Trusted from "@/components/Trusted.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    id="savannah"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[50%]"
    style="background-image: url('/savannah-large.png'); background-size: cover; background-position: center bottom;"
  >
  </section>
  <section
    id="rocks"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[50%]"
    style="background-image: url('/rock-and-grass.png'); background-size: cover; background-position: center bottom;"
  >
  </section>
  <section
    id="forest"
    class="fixed inset-0 pointer-events-none z-2 opacity-0 top-[0%]"
    style="background-image: url('/forest.png'); background-size: cover; background-position: center bottom;"
  >
  </section>

  <Hero />
  <ShopProduct />
  <Feed />
  <Instincts />
  <Ingredients />
  <FindYourPath />
  <Trusted />
  <FromTheWild />
  <FAQ />
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, SplitText);

  ScrollTrigger.config({
    ignoreMobileResize: true,
  });

  const sections = document.querySelectorAll(".pin-section");

  sections.forEach((section, index) => {
    gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top top",
        end: "bottom top",
        pin: index === 0 || index === sections.length - 1 ? false : true,
        pinSpacing: false,
        scrub: true,
        // markers: true,
        snap: 1,
      },
    });
  });

  const savannah = document.getElementById("savannah");
  const rocks = document.getElementById("rocks");
  const forest = document.getElementById("forest");
  const shopSection = document.getElementById("shop-by-product");
  const feed = document.getElementById("feed-their-nature");

  if (savannah && rocks && forest && shopSection && feed) {
    // Timeline for bottom transitions

    const bgTimeline = gsap.timeline({
      scrollTrigger: {
        trigger: "#shop-by-product",
        start: "top center",
        end: "bottom top",
        endTrigger: "#find-your-path",
        scrub: 1,
      },
    });

    bgTimeline
      // Fade in and start from bottom
      .fromTo(
        savannah,
        {
          opacity: 0,
          backgroundPositionY: "0%",
        },
        {
          opacity: 1,
          backgroundPositionY: "85%",
          ease: "none",
        }
      )
      // Move higher during section 3
      .to(savannah, {
        backgroundPositionY: "30%",
        ease: "none",
      })
      // Move down during section 4
      .to(savannah, {
        backgroundPositionY: "60%",
        ease: "none",
      })
      // Fade out at section 5
      .to(savannah, {
        opacity: 0,
        ease: "none",
      });
  }

  const rocksTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#instincts",
      start: "top center",
      end: "top top",
      endTrigger: "#trusted",
      scrub: 1,
    },
  });

  rocksTimeline
    .fromTo(
      rocks,
      {
        opacity: 0,
        backgroundPositionY: "0%",
      },
      {
        opacity: 1,
        backgroundPositionY: "100%",
        ease: "none",
      }
    )
    .to(rocks, {
      backgroundPositionY: "80%",
      ease: "none",
    })
    .to(rocks, {
      backgroundPositionY: "100%",
      ease: "none",
    })
    .to(rocks, {
      opacity: 0,
      ease: "none",
    });

  const forestTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#trusted",
      start: "top bottom",
      end: "bottom bottom",
      endTrigger: "#FAQ",
      scrub: 1,
    },
  });

  forestTimeline

    .fromTo(
      forest,
      {
        opacity: 0,
        backgroundPositionY: "0%",
      },
      {
        opacity: 1,
        backgroundPositionY: "85%",
        ease: "none",
      }
    )
    .to(forest, {
      backgroundPositionY: "30%",
      ease: "none",
    })
    .to(forest, {
      opacity: 0,
      ease: "none",
    });
</script>
