---
import EastIcon from "@/assets/icons/east.svg";
import ButtonRed from "@/components/shared/ButtonRed.astro";
import DoubleHeading from "@/components/shared/DoubleHeading.astro";

import Placeholder from "@/assets/feed-nature/video-placeholder.png";
import Dog1 from "@/assets/feed-nature/dog-part-1.gif";
import Dog2 from "@/assets/feed-nature/dog-part-2.gif";
import Dog3 from "@/assets/feed-nature/dog-part-3.gif";
---

<section
  id="feed-their-nature"
  class="pin-section relative flex flex-row items-center justify-center h-dvh overflow-hidden w-full gap-6 z-3"
>
  <div class="absolute inset-0 w-full h-full overflow-hidden">
    <img
      data-dog1={Dog1.src}
      data-dog2={Dog2.src}
      data-dog3={Dog3.src}
      id="dog1"
      class="aspect-640/354 z-2 bottom-[16%] -left-[8%] scale-200 absolute"
      src=""
    />
  </div>
  <section
    class="max-w-[1440px] w-[1440px] relative mx-auto flex flex-row items-center justify-center h-full"
  >
    <section class="flex flex-col max-w-[550px]">
      <DoubleHeading
        id="feed-their-nature-title"
        className="max-w-[550px] z-2 absolute top-[217px] left-[376px]"
        first="Feed their"
        second="true nature."
      />

      <h2
        id="feed-their-nature-subtitle"
        class="font-heading font-extrabold text-[34px]/[38px] uppercase text-text-primary max-w-[530px] overflow-hidden absolute top-[461px] left-[392px]"
      >
        Instinct-driven nutrition for the natural carnivore in every pet
      </h2>

      <p
        id="feed-their-nature-description"
        class="text-sm/[22px] text-text-primary max-w-[530px] overflow-hidden absolute top-[553px] left-[392px]"
      >
        High-meat recipes with no grains or fillers. Pure, powerful nutrition
        that ignites their spirit.
      </p>

      <ButtonRed
        id="feed-button"
        className="mt-[30px] flex flex-row items-center gap-1.5 self-start absolute top-[613px] left-[392px]"
      >
        Discover Their Wild Side <EastIcon class="w-6 h-6" />
      </ButtonRed>
    </section>
    <img
      id="video-feed-placeholder"
      src={Placeholder.src}
      class="aspect-433/532 w-[433px] h-[532px] absolute top-[217px] left-[937px] object-cover object-center"
    />
  </section>
</section>
<script>
  import { animateTitle, ensureFontsReady } from "@/utils";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";
  gsap.registerPlugin(ScrollTrigger, SplitText);

  const trigger = document.getElementById("feed-their-nature");
  const feedTitle = document.getElementById("feed-their-nature-title");
  const feedSubtitle = document.getElementById("feed-their-nature-subtitle");
  const feedDescription = document.getElementById(
    "feed-their-nature-description"
  );
  const feedButton = document.getElementById("feed-button");

  const videoFeedPlaceholder = document.getElementById(
    "video-feed-placeholder"
  );

  const dog = document.getElementById("dog1");

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top center",
      end: "bottom 95%",
    },
  });
  animateTitle({ title: feedTitle, trigger });
  animateTitle({ title: feedSubtitle, trigger });
  animateTitle({ title: feedDescription, trigger });

  gsap.set(videoFeedPlaceholder, { opacity: 0, yPercent: 0 });

  ensureFontsReady().then(() => {
    if (trigger) {
      (trigger as any).playEntry = function () {
        return tl
          .to(dog, {
            duration: 0.1,
            onComplete: () => {
              document.getElementById("dog1")!.style.display = "block";
              (document.getElementById("dog1") as HTMLImageElement).src = (
                document.getElementById("dog1") as HTMLImageElement
              ).getAttribute("data-dog1") as string;
            },
          })

          .fromTo(
            videoFeedPlaceholder,
            {
              yPercent: 100,
              opacity: 0,
              ease: "back.out",
            },
            {
              yPercent: 0,
              opacity: 1,
              duration: 1,
              ease: "back.out",
            }
          )
          .fromTo(
            feedButton,
            { opacity: 0, y: -20 },
            {
              opacity: 1,
              y: 0,
              duration: 0.5,
              ease: "power2.out",
            },
            "-=0.3"
          );
      };

      (trigger as any).playLeave = async function () {
        return tl
          .to(dog, {
            duration: 0.1,
            onComplete: () => {
              (document.getElementById("dog1") as HTMLImageElement).src = (
                document.getElementById("dog1") as HTMLImageElement
              ).getAttribute("data-dog3") as string;
            },
          })
          .to(videoFeedPlaceholder, {
            yPercent: -100,
            opacity: 0,
            ease: "back.in",
            delay: 2,
          })
          .to(feedButton, { opacity: 0, y: 20 }, "-=0.3");
      };
    }
  });
</script>
