---
import LogoIcon from "@/assets/Logo.svg";
import FacebookLogo from "@/assets/icons/facebook.svg";
import InstagramLogo from "@/assets/icons/instagram.svg";
import YoutubeLogo from "@/assets/icons/youtube.svg";

import StayWildIcon from "@/assets/footer/stay-wild.svg";

import LocalShippingIcon from "@/assets/icons/local-shipping.svg";
import MedicalServiceIcon from "@/assets/icons/medical-services.svg";
import NotInterestedIcon from "@/assets/icons/not-interested.svg";
---

<footer
  class="pin-section w-full bg-surface-background-minimal text-footer-text flex-col bottom-0 mb-20"
>
  <div
    class="w-full bg-red-500 flex flex-row gap-5 py-2 px-10 justify-around items-center"
  >
    <span
      class="font-copy text-base/[24px] text-text-invert text-center flex gap-2 items-center"
      ><LocalShippingIcon />Free Delivery on orders over £40</span
    >
    <span
      class="font-copy text-base/[24px] text-text-invert text-center flex gap-2 items-center"
      ><MedicalServiceIcon />Vet Approved Food</span
    >
    <span
      class="font-copy text-base/[24px] text-text-invert text-center flex gap-2 items-center"
      ><NotInterestedIcon />No Junk Ingredients</span
    >
  </div>
  <div class="w-full flex flex-row justify-between items-stretch p-10 pb-0">
    <div class="flex flex-col gap-10">
      <LogoIcon class="max-w-[110px] text-text-primary" />
      <div class="flex gap-5">
        <div class="flex flex-col gap-2 w-[210px]">
          <h3
            class="font-heading text-text-primary font-extrabold text-[26px]/[30px] uppercase"
          >
            GENERAL
          </h3>
          <div class="flex flex-col gap-1.5">
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Delivery & Returns</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >FAQs</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Subscribe</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Reviews</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Trade</a
            >
          </div>
        </div>

        <div class="flex flex-col gap-2 w-[210px]">
          <h3
            class="font-heading text-text-primary font-extrabold text-[26px]/[30px] uppercase"
          >
            Quick Links
          </h3>
          <div class="flex flex-col gap-1.5">
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Dry Food</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Wet Food</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Treats</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Bundles</a
            >
          </div>
        </div>

        <div class="flex flex-col gap-2 w-[210px]">
          <h3
            class="font-heading text-text-primary font-extrabold text-[26px]/[30px] uppercase"
          >
            About
          </h3>
          <div class="flex flex-col gap-1.5">
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >About Us</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Join The Pack</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Our Food</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Help Centre</a
            >
            <a href="#" class="font-copy text-base/[24px] text-text-primary"
              >Contact</a
            >
          </div>
        </div>
      </div>
      <div class=""></div>
    </div>
    <div class="flex flex-col justify-between">
      <div class="flex flex-row gap-2 justify-end">
        <span
          class="size-12 rounded-full flex flex-col items-center justify-center text-text-primary bg-surface-background-secondary"
          ><InstagramLogo class="size-6" />
        </span>

        <span
          class="size-12 rounded-full flex flex-col items-center justify-center text-text-primary bg-surface-background-secondary"
          ><YoutubeLogo class="size-6" />
        </span>
        <span
          class="size-12 rounded-full flex flex-col items-center justify-center text-text-primary bg-surface-background-secondary"
          ><FacebookLogo class="size-6" />
        </span>
      </div>
      <StayWildIcon class="w-[455px] h-auto self-end place-self-end" />
    </div>
  </div>

  <div class="w-full flex flex-col justify-between items-center p-10 pb-0">
    <div class="h-px w-full bg-surface-background-burgundy"></div>
    <div class="w-full flex flex-row justify-between items-center py-6">
      <span class="font-copy text-sm/[22px] text-text-primary text-center"
        >© 2025 Carnilove</span
      >
      <div class="flex flex-row gap-6">
        <a href="#" class="font-copy text-sm/[22px] text-text-primary"
          >Terms of Service</a
        >
        <a href="#" class="font-copy text-sm/[22px] text-text-primary"
          >Privacy Policy</a
        >
      </div>
    </div>
  </div>
</footer>
