---
// import {
//   AccountCircleOutlined,
//   FavoriteBorderOutlined,
//   ShoppingBagOutlined,
// } from "@mui/icons-material";

import AccountCircleOutlinedIcon from "@/assets/icons/account-circle-outlined.svg";
import FavoriteBorderOutlinedIcon from "@/assets/icons/favorite-border-outlined.svg";
import ShoppingBagOutlinedIcon from "@/assets/icons/shopping-bag-outlined.svg";
---

<header
  class="flex flex-row justify-between items-center bg-surface-invert text-text-invert h-20 w-full py-5 px-8 z-1"
>
  <p class="font-bold font-copy text-text-invert text-lg/[26px]">
    Free delivery on orders over 999 Kc
  </p>
  <nav class="">
    <ul class="m-0 p-0 flex flex-row gap-5">
      <li><FavoriteBorderOutlinedIcon class="text-text-invert w-6 h-6" /></li>
      <li><AccountCircleOutlinedIcon class="text-text-invert w-6 h-6" /></li>
      <li><ShoppingBagOutlinedIcon class="text-text-invert w-6 h-6" /></li>
    </ul>
  </nav>
</header>
