---
import ProductCard from "@/components/ProductCard.astro";

import All from "@/assets/shop_product/all-food.png";
import DryFood from "@/assets/shop_product/dry-food.png";
import Snacks from "@/assets/shop_product/snack-food.png";
import WetFood from "@/assets/shop_product/wet-food.png";
import Label from "@/components/shared/Label.astro";
import Subtitle from "@/components/shared/Subtitle.astro";
import Title from "@/components/shared/Title.astro";
---

<section
  id="shop-by-product"
  class="pin-section relative flex flex-col items-center h-screen w-full pt-[78px] bg-surface-background-minimal"
>
  <Label>honour the bond</Label>
  <Title className="mt-6"> Shop by Products </Title>
  <Subtitle className="max-w-[570px] mt-[30px]">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam sit amet
    finibus nunc. Aenean ut est egestas.
  </Subtitle>

  <div class="mt-[35px] flex flex-row gap-2.5 items-center justify-center">
    <button
      type="button"
      class:list={[
        "border-b-2  uppercase font-heading font-extrabold text-2xl/[26px] text-center py-1 px-4 cursor-pointer",
        "border-surface-background-red text-text-brand-red",
        "hover:border-surface-background-red hover:text-text-brand-red",
        "transition-colors duration-300 ease-in-out",
      ]}>DOGS</button
    >

    <button
      type="button"
      class:list={[
        "border-b-2  uppercase font-heading font-extrabold text-2xl/[26px] text-center py-1 px-4 cursor-pointer",
        "border-[#8E8E8E] text-[#8E8E8E]",
        "hover:border-surface-background-red hover:text-text-brand-red",
        "transition-colors duration-300 ease-in-out",
      ]}>CATS</button
    >
  </div>
  <section id="products" class="flex flex-row gap-5 mt-12">
    <ProductCard title="Dry food" image={DryFood.src} />
    <ProductCard title="Wet food" image={WetFood.src} />
    <ProductCard title="Snacks" image={Snacks.src} />
    <ProductCard title="All" image={All.src} />
  </section>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ".product-card",
    { opacity: 0, y: -100 },
    {
      opacity: 1,
      y: 0,
      duration: 0.5,
      ease: "power2.out",
      stagger: 0.1,
      scrollTrigger: {
        trigger: "#shop-by-product",
        start: "top center",
        end: "bottom bottom",
        toggleActions: "play reverse play reverse",
      },
    }
  );

  // const exitTimeline = gsap.timeline({
  //   scrollTrigger: {
  //     trigger: "#shop-by-product",
  //     start: "bottom 80%",
  //     end: "bottom 50%",
  //     scrub: true,
  //   },
  // });

  // exitTimeline.to(productCards, {
  //   y: -200,
  //   opacity: 0,
  //   duration: 0.6,
  //   ease: "power2.out",
  //   stagger: 0.06,
  // });
</script>
