---
import ProductCard from "@/components/ProductCard.astro";

import All from "@/assets/shop_product/all-food.png";
import DryFood from "@/assets/shop_product/dry-food.png";
import Snacks from "@/assets/shop_product/snack-food.png";
import WetFood from "@/assets/shop_product/wet-food.png";
import Label from "@/components/shared/Label.astro";
import Subtitle from "@/components/shared/Subtitle.astro";
import Title from "@/components/shared/Title.astro";
---

<section
  id="shop-by-product"
  class="pin-section relative flex flex-col items-center h-dvh overflow-hidden w-full pt-[78px] z-2"
>
  <section class="content">
    <Label id="product-label">honour the bond</Label>
    <Title id="product-title" className="mt-6"> Shop by Products </Title>
    <Subtitle id="product-subtitle" className="max-w-[570px] mt-[30px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam sit amet
      finibus nunc. Aenean ut est egestas.
    </Subtitle>

    <div
      id="product-filters"
      class="mt-[35px] flex flex-row gap-2.5 items-center justify-center"
    >
      <button
        type="button"
        class:list={[
          "border-b-2  uppercase font-heading font-extrabold text-2xl/[26px] text-center py-1 px-4 cursor-pointer",
          "border-surface-background-red text-text-brand-red",
          "hover:border-surface-background-red hover:text-text-brand-red",
          "transition-colors duration-300 ease-in-out",
        ]}>DOGS</button
      >

      <button
        type="button"
        class:list={[
          "border-b-2  uppercase font-heading font-extrabold text-2xl/[26px] text-center py-1 px-4 cursor-pointer",
          "border-[#8E8E8E] text-[#8E8E8E]",
          "hover:border-surface-background-red hover:text-text-brand-red",
          "transition-colors duration-300 ease-in-out",
        ]}>CATS</button
      >
    </div>
    <section id="products" class="flex flex-row gap-5 mt-12">
      <ProductCard title="Dry food" image={DryFood.src} />
      <ProductCard title="Wet food" image={WetFood.src} />
      <ProductCard title="Snacks" image={Snacks.src} />
      <ProductCard title="All" image={All.src} />
    </section>
  </section>
</section>

<script>
  import { animateLabel, animateTitle } from "@/utils";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const productTitle = document.getElementById("product-title");
  const productSubtitle = document.getElementById("product-subtitle");
  const productLabel = document.getElementById("product-label");
  const productFilters = document.getElementById("product-filters");

  const trigger = document.getElementById("shop-by-product");

  animateTitle({ title: productTitle, trigger, end: "bottom 95%" });

  animateTitle({ title: productSubtitle, trigger, end: "bottom 95%" });

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top center",
      end: "bottom 95%",
      toggleActions: "play reverse play reverse",
    },
  });

  animateLabel(tl, productLabel)
    .fromTo(
      ".product-card",
      { opacity: 0, y: -100 },
      {
        opacity: 1,
        y: 0,
        duration: 0.5,
        ease: "power2.out",
        stagger: 0.1,
      }
    )
    .fromTo(
      productFilters,
      { opacity: 0, y: -20 },
      {
        opacity: 1,
        y: 0,
        duration: 0.5,
        ease: "power2.out",
      },
      "-=0.3"
    );
</script>
