---
import Subtitle from "@/components/shared/Subtitle.astro";

import BentoGridCarousel from "@/components/BentoGridCarousel/BentoGridCarousel.astro";
import ButtonRed from "@/components/shared/ButtonRed.astro";
import ParallaxSection from "./ParallaxSection.astro";
---

<ParallaxSection
  id="trusted"
  class="items-center"
  contentClass="pt-[78px]"
  bgPosition={[
    { y: 100, opacity: 0 },
    { y: 100, opacity: 0, scale: 1 },
    { y: 0, opacity: 0.75, scale: 1 },
  ]}
>
  <section class="content flex flex-col w-full items-center justify-center">
    <h1
      id="trusted-title"
      class:list={[
        "font-large-heading text-[60px]/[80%] text-center text-text-primary overflow-hidden uppercase",
        "max-w-[640px] mt-6",
      ]}
    >
      Trusted by thousands of wild hearts across Europe
    </h1>

    <Subtitle id="trusted-description" className="max-w-[640px] mt-5">
      Don’t just take our word for it — hear how real owners feed instinctively
      and see the difference.
    </Subtitle>

    <ButtonRed
      id="trusted-button"
      className="mt-[30px] flex flex-row items-center gap-1.5"
    >
      Hear more from the tribe
    </ButtonRed>

    <section
      id="bento-container"
      class="w-full h-[530px] mt-16 overflow-hidden"
    >
      <BentoGridCarousel />
    </section>
  </section>
</ParallaxSection>
